<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/f8da204d50.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div class="control-formulario">

        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta</a>
                    <i class="fa-sharp fa-regular fa-address-card"></i>
                </li>
                <li><a href="#">Ingresá</a>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
                <li><a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Formulario -->
    <form action="/crear-producto" method="GET" class="create-form">
        <div class="control-formulario">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>

        <div class="control-formulario">
            <label>Precio:</label>
            <input type="text" name="precio" placeholder="000.00" class="control">
        </div>

        <div class="control-formulario">
            <label>Categoría</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>

        <div class="control-formulario">
            <label>Ciudad</label>
            <select name="ciudad" class="control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>

        <div class="control-formulario">
            <label>Descripción:</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>

        <button type="submit" class="boton-formulario">Guardar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    </form>

    <article class="product">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <h2>Samsung S10</h2>
    </article>

    <article class="product">
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <h2>MacBook Pro 2019</h2>
    </article>

    <article class="product">
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <h2>Smart TV Samsung</h2>
    </article>

</body>
</html>